.KidsParty{
    background-color: rgb(224, 247, 247);
    height: 100%;
    min-height: 1400px;
}
.mainMenu{
float: left;
}
.orderButton {
    float: right;
    
}
@media screen and (max-width:1000px){
    .mainMenuButton button{
        width: 100px;
        height: 50px;
        font-style: italic;
        font-size: 10px;        
        border-radius: 5px;
        margin-top: 2px;
        margin-bottom: 2px;
        
    }
   
}.orderButton button{
    color:blue;
    height: 90px;
    width: 110px;
    border-radius: 5px;
    background-color: rgb(153, 240, 153);
    margin-top: 10px;
    margin-right: 20px;
    font-style: italic;
    font-size: 15px;    
    animation: MyAnimation 10s 50;
    cursor: pointer;
}

@keyframes MyAnimation
{
    from { color:blue }
    50% { color:  red }
    to { color:blue;;}
}
@media screen and (max-width: 1050px){
    .orderButton button{
        height: 50px;
        width: 80px;
        font-size: 10px; 
        margin-top: 2px;
    }
}.HeaderName{
    font-size: 35px;
    font-family: 'Niconne', cursive;
    color: rgb(18, 18, 189);   
    padding-left: 50px;
}
.Header{
    background-color: rgb(245, 244, 188);
    background: opacity 100%;
    /*background-image: url('Images/kids.jpg');*/
}
.HeaderText{
    font-size: 50px;
    font-family: 'Marck Script', cursive;
    padding-left: 50px;
    color: deeppink;
    font-weight: 200;
}
@media screen and (max-width: 1050px){
    .HeaderText{
        font-size: 30px;
        font-family: 'Marck Script', cursive;
        padding-left: 30px;
        color: deeppink;
        font-weight: 200;
    }

}
@media screen and (max-width: 700px){
    .HeaderText{
        font-size: 20px;
        font-family: 'Marck Script', cursive;
        padding-left: 20px;
        color: deeppink;
        font-weight: 200;
    }
    .HeaderName{
        font-size: 25px;
        font-family: 'Niconne', cursive;
        color: rgb(18, 18, 189);   
        padding-left: 30px;
    }
}.mainMenuButton{
    display: block;
    width: 150px;
    height: 80px;
    font-style: italic;
    font-size: 15px;
    background-color: mediumslateblue;
    border-radius: 25px;
    margin-top: 5px;
    margin-bottom: 10px;
    cursor: pointer;
}
@media screen and (max-width:1000px){
    .mainMenuButton{
        width: 100px;
        height: 50px;
        font-style: italic;
        font-size: 10px;        
        border-radius: 10px;
        margin-top: 4px;
        margin-bottom: 4px;        
    }   
}
@media screen and (max-width:700px){
    .mainMenuButton{
        width: 78px;
        height: 50px;
        font-style: italic;
        font-size: 8px;        
        border-radius: 10px;
        margin-top: 4px;
        margin-bottom: 4px;
        padding-left: 0px;
        
    }
   
}.Start{
    text-align: center;
    padding-left: 250px;
    padding-right: 100px;
    font-size: 20px;
    padding-top: 40px;
    font-style: italic;
}
@media screen and (max-width: 700px){
    .Start{
        text-align: center;
        padding-left: 100px;
        padding-right: 20px;
        font-size: 10px;
        padding-top:10px;
    }
}.Pict img{
    width: 180px;
    margin-left: 20px;
    max-height: 180px;
    
}
h3{
    font-style: italic;
}
.ItemName td{
    padding-left: 20px;
    width: 400px;
}
.Long, .ItemPrice{
    padding-left: 20px;
    font-size: larger;
    width: 100px;
}
.ItemOrderButton{
    width: 120px;
    height: 40px;
    font-style: italic;
    font-size: 15px;
    background-color: rgb(180, 169, 243);
    border-radius: 5px;
    margin-top: 5px;
    margin-left: 20px;
}

.Pict{
    max-height: 140px;
}
@media screen and (max-width: 1400px){
    .ItemName td{
        padding-left: 20px;
        width: 200px;
    }
    .Long, .ItemPrice{
        padding-left: 5px;
        font-size: normal;
        width: 80px;
    }
}
@media screen and (max-width: 1200px){
    .Pict img{
        width: 130px;
        margin-left: 5px;
        max-height: 130px;
        
    }
    .ItemName td{
        padding-left: 5px;
        width: 150px;
    }
}
@media screen and (max-width:1000px){
    .Pict img{
        width: 90px;
        margin-left: 5px;
        max-height: 90px;
        
    }
    .ItemName {
        padding-left: 5px;
        width: 90px;
        font-size: 10px;
    }
    h3{
        font-size: smaller;
    }
    .Long, .ItemPrice{
        padding-left: 5px;
        font-size: 10px;
        width: 50px;
    }
    .ItemPrice td{
        padding-left: 5px;
        font-size: 10px;
        width: 50px;
        
    }
    .ItemOrderButton{
        width: 70px;
        height: 30px;
        font-style: italic;
        font-size: 8px;
        background-color: rgb(180, 169, 243);
        border-radius: 5px;
        margin-top: 5px;
        margin-left: 20px;
    }
}
@media screen and (max-width:600px){
    .Pict img{
        width: 70px;
        margin-left: 5px;
        max-height: 70px;
        
    }
}.sellerCard{
    width: 700px;
    text-align: center;
    padding-left: 40px;
    padding-right: 40px;
    font-size: 20px;
    padding-top: 40px;
    font-style: italic;
    display: inline-block;
    vertical-align: top;
  
}
.sellerCard h2{
    color: crimson;
}
.sellerCardImg{
    display: inline-block;
    
}
.sellerCardImg img{
    max-width: 500px;
    padding-top: 40px;
}
.cardButton button{
    width: 120px;
    height: 60px;
    font-style: italic;
    font-size: 15px;
    background-color: rgb(180, 169, 243);
    border-radius: 5px;    
    margin-left: 20px;
}
div .cardButton {
    display: inline-block;
}
@media screen and (max-width:1500px){
    .sellerCard{
        width: 400px;
        padding-left: 20px;
        padding-right: 20px;
        font-size: 15px;
        padding-top: 20px;
    }
    .sellerCardImg img{
        max-width: 300px;
        padding-top: 20px;
    }
    .cardButton button{
        width: 90px;
        height: 40px;
        font-style: italic;
        font-size: 10px;
        background-color: rgb(180, 169, 243);
        border-radius: 5px;    
        margin-left: 10px;
    }
}
@media screen and (max-width:1000px){
    .sellerCardImg{
        display: block;
        text-align: center;        
    }
    .sellerCard{
        display: block;
        width: auto;
        text-align: center;  
    }
    .cover{
        display: inline-block;  
    }
}
@media screen and (max-width:700px){
    h2{
        font-size: 15px;
    }
}
h1{
    text-align: center;
    display: inline-block;
    margin-left: 50px;
    font-family: 'Marck Script', cursive;
    color: rgb(165, 7, 126);
    margin-top: 10px;
    margin-bottom: -10px;
    letter-spacing: 3px;
}
.PagesCount{
    padding-left: 250px;
    font-size: larger;
}
li{
    display: inline-block;
    marker: none;
    height: 30px;
    width: 30px;
    background-color: rgb(230, 218, 218);
    text-align: center;
    margin-right: 5px;
    border-radius: 3px;
}
@media screen and (max-width:900px){
    h1{
        margin-left: 20px;
        margin-top: 10px;
        margin-bottom: -10px;
        letter-spacing: 2px;
        font-size: 20px;
    }
    li{
        
        height: 15px;
        width: 15px;
        background-color: rgb(230, 218, 218);
        text-align: center;
        margin-right: 5px;
        border-radius: 3px;
        font-size: 10px;
    }
    .PagesCount{
        padding-left: 150px;
        font-size: normal;
    }
}
@media screen and (max-width:600px){
    h1{
        margin-left: 2px;
        margin-top: 10px;
        margin-bottom: -10px;
        letter-spacing: 1px;
        font-size: 15px;
    }
    .PagesCount{
        padding-left: 100px;
        font-size: smaller;
    }
    
}.orderPict img{
    width: 140px;
    margin-left: 20px;
    max-height: 180px;
    
}
h3{
    font-style: italic;
}
.orderItemName{
    padding-left: 20px;
    width: 400px;
}
.Price{
    padding-left: 20px;
    font-size: larger;
    width: 100px;
}
.ItemOrderButton button{
    width: 120px;
    height: 40px;
    font-style: italic;
    font-size: 15px;
    background-color: rgb(180, 169, 243);
    border-radius: 5px;
    margin-top: 5px;
    margin-left: 20px;
}

.orderPrice{
    font-size: 20px;
}
.ItemRow-Active{
    transition-duration: 3s;
    transition-property: opacity;
    opacity: 0;
}
@media screen and (max-width: 1200px){
    .orderItemName{
        width: 300px;
    }
    .orderPrice{
        font-size: 15px;
    }
}
@media screen and (max-width: 900px){
    .orderPict img{
        width: 100px;
        margin-left: 20px;
        max-height: 120px;
}
}
@media screen and (max-width: 700px){
    .orderPict img{
        width: 80px;
        margin-left: 5px;
        max-height: 100px;
}
}.OrderView{
    width: auto;
    text-align: center;
    margin-left: 170px;
}
.OrderView h1{
color: blue;
}
.OrderView input{
    font-size: large;
}
tfoot{
    font-weight: bold;
    font-size: 22px;
}
tbody{
    border-bottom: solid 2px;
    border-collapse: collapse;
}
textarea{
    width: 600px;
    height: 100px;
}
.comment, .tel{
    text-align: left;
    margin-left: 30px;
}
.comment span, .tel span{
    font-size: larger;
    font-style: italic;
    display: inline-block;
}
.submit input{
        height: 40px;
        width: 200px;
        border-radius: 5px;
        background-color: rgb(131, 243, 243);
        margin-top: 10px;
        margin-right: 20px;
        font-style: italic;
        font-size: 15px;
    
}
.Error{
    color: red;
    font-style: italic;
}
@media screen and (max-width: 1200px){
    .OrderView{
        margin-left: 20px;
    }
    .comment, .tel{
        margin-left: 50px;
    }

}
@media screen and (max-width: 1000px){
    textarea{
        width: 350px;
        height: 100px;
    }
    .comment span, .tel span{
        font-size:medium ;
    }
}
@media screen and (max-width: 700px){
    textarea{
        width: 250px;
        height: 100px;
    }
    .comment span, .tel span{
        font-size:smaller;
    }
    tfoot{
        font-weight: bold;
        font-size: 15px;
    }
}

/*# sourceMappingURL=bundle.css.map*/