.HeaderName{
    font-size: 35px;
    font-family: 'Niconne', cursive;
    color: rgb(18, 18, 189);   
    padding-left: 50px;
}
.Header{
    background-color: rgb(245, 244, 188);
    background: opacity 100%;
    /*background-image: url('Images/kids.jpg');*/
}
.HeaderText{
    font-size: 50px;
    font-family: 'Marck Script', cursive;
    padding-left: 50px;
    color: deeppink;
    font-weight: 200;
}