.mainMenu button{
    display: block;
    width: 170px;
    height: 100px;
    font-style: italic;
    font-size: 15px;
    background-color: mediumslateblue;
    border-radius: 25px;
    margin-top: 5px;
    margin-bottom: 10px;
}
.mainMenu button:hover{
    cursor: pointer;
}
