.orderPict img{
    width: 140px;
    margin-left: 20px;
    max-height: 180px;
    
}
h3{
    font-style: italic;
}
.orderItemName{
    padding-left: 20px;
    width: 400px;
}
.Price{
    padding-left: 20px;
    font-size: larger;
    width: 100px;
}
.ItemOrderButton button{
    width: 120px;
    height: 40px;
    font-style: italic;
    font-size: 15px;
    background-color: rgb(180, 169, 243);
    border-radius: 5px;
    margin-top: 5px;
    margin-left: 20px;
}

.orderPrice{
    font-size: 20px;
}
.ItemRow-Active{
    transition-duration: 3s;
    transition-property: opacity;
    opacity: 0;
}
@media screen and (max-width: 1200px){
    .orderItemName{
        width: 300px;
    }
    .orderPrice{
        font-size: 15px;
    }
}
@media screen and (max-width: 900px){
    .orderPict img{
        width: 100px;
        margin-left: 20px;
        max-height: 120px;
}
}
@media screen and (max-width: 700px){
    .orderPict img{
        width: 80px;
        margin-left: 5px;
        max-height: 100px;
}
}