.orderButton button{
    color:blue;
    height: 90px;
    width: 110px;
    border-radius: 5px;
    background-color: rgb(153, 240, 153);
    margin-top: 10px;
    margin-right: 20px;
    font-style: italic;
    font-size: 15px;    
    animation: MyAnimation 10s 50;
    cursor: pointer;
}

@keyframes MyAnimation
{
    from { color:blue }
    50% { color:  red }
    to { color:blue;;}
}
@media screen and (max-width: 1050px){
    .orderButton button{
        height: 50px;
        width: 80px;
        font-size: 10px; 
        margin-top: 2px;
    }
}